<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <activity android:name=".DeleteSettings"></activity>
        <activity android:name=".LoginActivtiy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Answeractivity"
            android:label="@string/title_activity_answeractivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NextCalActivity"
            android:label="NextCalActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".UpdateSettings"
            android:label="UpdateSettings"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>